#!/usr/bin/make -f

# Uncomment to enable verbose mode.
#export DH_VERBOSE=1

ROOT=debian/cassandra

test:
	dh_testdir

clean:
	dh_testdir
	dh_testroot
	dh_clean

build: build-stamp
build-stamp:
	dh_testdir
	touch build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_installdirs
	dh_install
	mv "$(ROOT)/etc/sysctl.d/cassandra-sysctl.conf" "$(ROOT)/etc/sysctl.d/cassandra.conf"
	mv $(ROOT)/etc/init/cassandra-init.conf $(ROOT)/etc/init/cassandra.conf

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installinit -u'start 50 2 3 4 5 . stop 50 0 1 6 .'
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
